<div class="center jumbotron">
    <h1>Welcome to MyRecipes</h1>
    
    <h2>This is the home page for the proffesional Ruby on Rails Developers course on Udemy</h2>
    
    <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest User
        </h3>
        <h2 class="left">
            Browser and view recipes as a guest and sign up letter
        </h2>
        <p><%= link_to "Browse Recipes listings", recipes_path, class: "btn btn-warning btn-sm" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest User
        </h3>
        <h2 class="left">
            Browser and view recipes as a guest and sign up letter
        </h2>
        <p><%= link_to "Browse Recipes listings", "#", class: "btn btn-warning btn-sm" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest User
        </h3>
        <h2 class="left">
            Browser and view recipes as a guest and sign up letter
        </h2>
        <p><%= link_to "Browse Recipes listings", "#", class: "btn btn-warning btn-sm" %></p>
    </div>
</div>